body {
    background-image: url('../../image/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0% 100%;
}

.mark_Text {
    color: #ff0000;
}

.background_Source {
    display: flex;
    justify-content: flex-end;

    color: #999999;
    font-size: 12px;
    font-weight: 100;
}

::selection {
    background: #a00b0b;
    color: white;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background-color: rgba(225, 225, 225, 0.5);
}

::-webkit-scrollbar-thumb {
    background-color: #b5b5b5;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #a5a5a5;
}

@keyframes fade {
    from {
        opacity: 1.0;
    }

    to {
        opacity: 0.5;
    }
}

@keyframes expand {
    from {
        transform: scale(1.0);
    }

    to {
        transform: scale(1.4);
    }
}

@keyframes inshadow {
    from {
        box-shadow: #ffffff 0 0 0 0 inset;
    }

    to {
        box-shadow: #ffffff 0 0 30px 0 inset;
    }
}

@keyframes point {
    from {
        transform: translateX(-5px);
    }

    to {
        transform: translateX(0px);
    }
}

@keyframes bounce {
    0% {
        transform: translateY(0px);
    }

    10% {
        transform: translateY(-15px);
    }

    20% {
        transform: translateY(0px);
    }

    100% {
        transform: translateY(0px);
    }
}